body{

    /* to remove all defualt padding and margins*/
    padding:0px;
    margin:0px;

}


nav {

    height: 150px;
    width: 100%;
    background-color:rgba(100, 100, 100, 0.4);
    position: fixed;
    margin-top:50px;
    z-index:5;

    padding: 1px; /* to set all nested divs /elmnts with respectto this nav*/

}


#cir{
    height:100px;
    width:100px;
    background-color:#dadada;
    z-index: 10;
    opacity: 0.8;
    border-radius:50px;
    margin-top:25px;
    margin-left: 20px;

    padding:1px; /* to set all nested divs /elmnts with respectto this nav*/
    display: inline-block; /* to display logo and links in a single line */
}
nav a{
    color:black;
    background-color: white;

}
nav li{

    display: inline;
}
#logo_text{
    height:30px;
    width:70px;
    color:black;
    font-size:20px ;
    margin-top:35px;
    margin-left:15px;

}

#wlcm_msg{
    height:80px;

    display: inline-block;
    margin-top:50px;
    font-size: 17px;
    color:blue;
    text-align: center;

}

#all_links{
    /*background-color: #2aabd2;
    */height: 30px;
    display: inline-block;
    margin-top: 50px;
    display: flex;
    flex-wrap:wrap;
}

#all_links a:hover{
    background-color:whitesmoke;
    transform: scale(1.2);/* for creating zooming effect */

}
#backim{
    background-image: url('pic2.jpg');
    height:700px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top:-50px;

}

#one_evnt{
    margin-top:250px ;
    height:100px;
    width:300px;
    font-size: 40px;
    /*background-color:red;
    */animation: myanim1 2s linear 0s;
    animation-fill-mode: forwards;

}
#scnd_evnt{
    height:100px;
    width:300px;
    font-size: 40px;
    /*background-color:green;
    */animation: myanim2 2s linear 1s;
    animation-fill-mode: forwards;
}
#whole_page{
    height:4000px;
    background-color: #8a6d3b;
overflow: hidden;
}


#vw,#cr{
    margin-top: 30px;
    margin-left: 100px;
    font-size: 45px;
    color: black;

}

#vw_e,#cr_e{
font-size: 25px;
    color: black;
    margin-left: 10px;
    margin-top: 70px;
    text-wrap: normal;

}


#view-btn,#cr-btn{

height: 100px;
    width:200px;
    margin-top: 50px;
    margin-left: 200px;
}


#about{margin-top: 20px;
   /* background-image: url(pic6.jpg);
    */
    background-color:rgba(150,150,150,1);
    height:400px;

}
#about a{
    font-size: 55px;
    margin-left: 450px;
}

#abt_info{
    margin-left: 250px;
font-size: 25px;

}
#abt_info_2{
    font-size:20px;
    text-wrap: normal;

}


#cnct{

    margin-top: 20px;
   /* background-image: url("pic6.jpg");
    */
    background-color:rgba(200,200,200,1);
    height:500px;

}
#cmt{
    font-size: 55px;
    margin-left: 450px;
}


#one{
/*background-image: url("pic9.jpeg");
 */
    background-color:rgba(150,150,150,1);
    height:400px;
    padding: 50px;
}
#two{

/*background-image: url("pic9.jpeg");
  */
    background-color:rgba(140,140,140,1);
    height:400px;
}
#three{
    /*background-image: url('pic9.jpeg');;
    */
    background-color:rgba(150,150,150,1);
    height:400px;
}


.ins{
    font-size: 20px;
margin-top: 30px;
margin-left: 100px;

}


#flw{
    font-size: 20px;
    margin-top: 40px;
    text-align: center;
}

#flw_text{
    margin-top: 30px;
    font-size: 20px;
}
#upcming{
    margin-top:20px;
    height:1500px;
    /*background-image:url("pic6.jpg");
*/
    background-color:rgba(150,150,150,1)
}


#upcm{

    font-size: 55px;
    margin-left: 400px;

}


@-webkit-keyframes myanim1 {
from{
    margin-left:0px;

}
    to{
        margin-left:200px ;
    }
}

@-webkit-keyframes myanim2 {
    from{
        margin-left:0px;

    }
    to{
        margin-left:150px ;
    }
}



#modal-box{
    position: fixed;
    margin-top: 70px;
z-index: 12;
    display: none;
    background-color:beige;
    height: 600px;
    width: 600px;
    margin-left: 250px;
    border-radius: 50px;


}

#modal-box2{
    position: fixed;
    margin-top: 70px;
    z-index: 12;
    display: none;
    background-color:beige;
    height: 230px;
    width: 350px;
    margin-left: 250px;
    border-radius: 20px;


}
#modal-box3{
    position: fixed;
    margin-top: 70px;
    z-index: 12;
    display: none;
    background-color:beige;
    height: 600px;
    width: 600px;
    margin-left: 250px;
    border-radius: 50px;



}

#ovrlay{

margin-top: 0px;
    position: fixed;
    width: 100%;
    height: 110%;

    display: none;
    background-color: rgba(0,0,0,0.4);
    z-index:10;
}


#cls{

    font-size: 30px;
    font-weight: bold;
    color: #000;
    opacity:0.4;
    border-color: transparent;
    margin-left: 500px;
    margin-top: 20px;
}


#cls2{

    font-size: 30px;
    font-weight: bold;
    color: #000;
    opacity:0.4;
    border-color: transparent;
    margin-left:280px;
    margin-top: 20px;
}

#cls3{

    font-size: 30px;
    font-weight: bold;
    color: #000;
    opacity:0.4;
    border-color: transparent;
    margin-left: 500px;
    margin-top: 20px;
}


#status3{
    margin-left: 30px;
    color:red;
    font-size: 25px;



}


/*index2 */
#whole2{
    height:1500px;
    width: 100%;
    background-color: #bcdff1;
    margin-top: -50px; /* to make  nav at correct position*/

}


#dest{
    height:100px;
    width: 100%;
    background-color: lightskyblue;
    margin-top: 200px;
font-size:50px;
    color:whitesmoke;
    text-align: center;

}
.clr2{
    background-color: white;
    height:500px;
}

.clr{
    background-color: black;
    height:500px;
}
#fd1 {
    margin-top:80px;
    margin-left: 50px;
}

#fd2 {
    margin-top:20px;
    margin-left: 50px;
}

#fd3 {
    margin-top:30px;
    margin-left: 50px;
}

#sd{
    margin-left:50px;
}


@media screen and (min-width:1024px) {
#whole_page{
    background-image: url('pic5.jpg');


}
    #whole2{
        height:2000px;

    }
}


@media screen and (max-width:1024px) and (min-width:768px) {
    #whole_page{
        background-image: url('pic5.jpg');
        height:3000px;

    }
    .clr{
       /* background-color: #3c763d;
       */
        background-color: white;
        height:400px;

    }
    #vw,#cr{
        font-size:25px;
    }
    #vw_e,#cr_e{
        font-size:20px;
    }
    #cityname{
        margin-left:90px ;
    }
    #view-btn,#cr-btn{
        height: 50px;
        width: 100px;
        margin-top:30px;
        margin-left:130px;
    }
    .clr{
        background-color:black;
        height:400px;
    }

    #about a{
        font-size: 35px;
        margin-left: 400px;
    }
    #abt_info{
        margin-left:200px ;
        font-size: 20px;
    }
    #abt_info_2{
        margin-left: 10px;
    }
    #cnct{
        height: 300px;
    }
    #cmt{font-size:35px;
    margin-left:400px; }

    #whole2{
        height:3000px;
    }
    #one{
        background-color:rgba(150,150,150,1);

        height:300px;
        padding:0px;
    }
    #two{
        background-color:rgba(140,140,140,1);
        height:300px;

    }
    #three{
        background-color:rgba(150,150,150,1);
        height: 300px;
    }
    #fd1 {
        margin-top:30px;
        margin-left:10px;
    }

    #fd2 {
        margin-top:20px;
        margin-left:10px;
    }

    #fd3 {
        margin-top:30px;
        margin-left:10px;
    }

#sd{
    margin-left:200px ;
}
    #flw{
        font-size: 20px;
        margin-top: 10px;

    }
    #upcm{
        font-size: 35px;
        margin-left:300px;
    }


}


@media screen and (max-width:769px) and (min-width:500px) {

    #whole_page{
        background-image: url('pic5.jpg');

    }
#cir{
    background-color: pink;
    height:60px;
    width: 60px;
}
#logo_text{
    height:20px ;
    width:50px ;
    margin-top:20px;
    margin-left:5px;
    font-size: 15px;
}
#modal-box{
    position: fixed;
    margin-top: 70px;
    z-index: 12;
    display: none;
    background-color:beige;

    width: 500px;
    margin-left: 50px;
    border-radius: 50px;



transform: scale(0.8);
    height: 600px;
}
#whole2{

    height:3000px;
}
#modal-box2{
    transform: scale(0.8);
    height:250px ;
}
#modal-box2 label{
    margin-left: 30px;
}
#modal-box2 input{
    width: 160px;
}
#modal-box3{
    transform: scale(0.8);
    margin-left: 50px;
}
#modal-box3 label{
    margin-left: 30px;
}
#crsub{
    margin-left: 100px;
}
#cls{
    margin-left: 400px;
}
#status{
    margin-left: 200px;
}

#modal-box label{
    margin-left: 40px;
}
#modal-box input{
    margin-left: 70px;
    width: 130px;
}
    .clr{
        /* background-color: #3c763d;
        */
        background-color: white;
        height:300px;

    }
    #vw,#cr{
        margin-left:200px;
        font-size:25px;
    }
    #vw_e,#cr_e{
        margin-top: 30px;
        font-size:20px;
    }
    #cityname{
        margin-left:150px ;
        margin-top: 20px;
    }
    #view-btn{
        height: 50px;
        width: 100px;
        margin-top:30px;
        margin-left:180px;
    }
#cr-btn{
    height: 50px;
    width: 100px;
    margin-top:30px;
    margin-left:250px;
 }
    .clr{
       display: none;
    }
#about{
    background-color: white;
    color: black;
    height: 320px;
}
    #about a{
        color: black;
        font-size: 25px;
        margin-left: 250px;
    }
    #abt_info{
        margin-left:80px ;
        font-size: 17px;
    }
    #abt_info_2{
        font-size: 16px;
        margin-left: 15px;
    }
    #cnct{
        height: 370px;

    }
    #cmt{
        margin-left:250px;

        color: black;
        font-size: 25px;}

    #one{
        background-color:rgba(150,150,150,1);
        height:300px;
        padding:0px;

    }
    .ins{
        margin-left: 20px;
    }
    #two{
        background-color:rgba(140,140,140,1);
        height:300px;

    }
    #fd1 {
        margin-top:30px;
        margin-left:10px;
        width:150px ;
    }

    #fd2 {

        margin-top:20px;
        margin-left:10px;
        width:150px ;
    }

    #fd3 {
        margin-top:30px;
        margin-left:10px;
        width: 150px;
    }
    #three{
        background-color:rgba(150,150,150,1);
        height:300px;

    }
    #sd{
        margin-top: 10px;
        margin-left:100px ;
    }
    #flw{
        font-size: 20px;
        margin-top: 10px;

    }
    #flw_text{
        font-size: 15px;
    }
    #upcm{
        font-size: 25px;
        margin-left:180px;
            color: black;

    }
#upcming{
    height: 2000px;
}
}



@media screen and (max-width:500px) {

    #whole2{
        height: 5000px;
    }
    #modal-box{
        position: fixed;
        margin-top: 70px;
        z-index: 12;
        display: none;
        background-color:beige;

        width: 500px;
        margin-left: 10px;
        border-radius: 50px;



        transform: scale(0.8);
        height: 600px;
    }
    #modal-box2{
        transform: scale(0.8);
        height:250px ;
        margin-left: 100px;
    }
    #modal-box2 label{
        margin-left: 30px;
    }
    #modal-box2 input{
        width: 160px;
    }
    #modal-box3{

        transform: scale(0.8);
        margin-left:10px;
        width:500px;
    }
    #cls3{
        margin-left: 400px;
    }
    #modal-box3 label{
        margin-left: 30px;
    }
    #crsub{
        margin-left: 100px;
    }
    #cls{
        margin-left: 400px;
    }
    #status{
        margin-left: 200px;
    }

    #modal-box label{
        margin-left: 40px;
    }
    #modal-box input{
        margin-left: 70px;
        width: 130px;
    }

    #whole_page {
        background-image: url("pic5.jpg");
        height: 5000px;

    }
    nav {
        margin-top: 30px;
        height: 150px;
    }
#wlcm_msg{
    background-color:black;
    width: 200px;
        height: 20px;
    color: white;
}

    #cir {
        height: 60px;
        width: 60px;

    }
    #logo_text{
        font-size: 14px;
    }
    #one_evnt,#scnd_evnt{
        font-size: 24px;
        height: 50px;
        width:150px;
    }
    @-webkit-keyframes myanim1 {
        from{
            margin-left:0px;

        }
        to{
            margin-left:160px ;
        }
    }

    #backim{
        height:500px ;
    }
    #logo_text {
        height: 20px;
        width: 50px;
        margin-top: 20px;
        margin-left: 5px;
    }

    .clr2{
        /* background-color: #3c763d;
        */
        background-color: white;
        height: 300px;

    }

    #vw, #cr {
        margin-left: 80px;
        font-size: 25px;
    }

    #vw_e, #cr_e {
        margin-top: 30px;
        font-size: 15px;
    }

    #cityname {
        margin-left: 80px;
        margin-top: 20px;
    }

    #view-btn, #cr-btn {
        height: 40px;
        width: 100px;
        margin-top: 10px;
        margin-left: 140px;
    }

    .clr {
        display: none;
    }

    #about {
        height: 380px;
    }

    #about a {
        color: black;
        font-size: 25px;
        margin-left: 150px;
    }

    #abt_info {
        margin-top: 10px;
        margin-left: 10px;
        font-size: 14px;
    }

    #abt_info_2 {
        font-size: 14px;
        margin-left: 15px;
    }

    #cnct {
        height: 300px;



    }

    #cmt {
        color: black;
        font-size: 25px;
        margin-left: 150px;
    }

    #one {
        background-color: rgba(150,150,150,1);
        height: 300px;
        padding: 0px;

    }

    .ins {
        margin-left: 20px;
        font-size: 15px;
    }

    #two {
        background-color: rgba(140,140,140,1);
        height: 300px;

    }

    #fd1 {
        margin-top: 30px;
        margin-left:0px;
        width: 110px;
    }

    #fd2 {

        margin-top: 20px;
        margin-left:0px;
        width: 110px;
    }

    #fd3 {
        margin-top: 30px;
        margin-left: 0px;
        width: 110px;
    }

    #three {
        background-color: rgba(150,150,150,1);
        height: 300px;

    }

    #sd {
        margin-top: 10px;
        margin-left: 40px;
    }

    #flw {
        font-size:15px;
        margin-top: 10px;

    }

    #flw_text {
        margin-top: 10px;
        font-size: 11px;
    }

    #upcm {
        font-size: 20px;
        margin-left: 70px;
    }
    #upcming{

        height: 3200px;
    }


}